

<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="http://t1.gstatic.com/images?q=tbn:ANd9GcQ-i8vSXstr4BR4br6yUDM6o4esu6TFZdLVsqjfBWIT8vaXdoCSDi3bw93Iir4l" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Fibonacci</h5>
    <p class="card-text">Also known as Leonardo Bonacci.</p>
    <a href="/getfibonacci" class="btn btn-primary">Generate a sequence</a>
</div>
